h2{
    font-size: $default-font-size;
    font-weight: $default-font-weight;
}
p{
    font-size: $default-font-size * 0.875;
    font-weight: $font-weight-light;
}

.card-profile{
    background-color: $card-bg-color;
    border-color: $border-color-grey;
    margin-bottom: $one-em * 1.875;
    &.card{
        @include media-breakpoint-down(sm) {
            border-width: $zero;
        }
    }
    @include box-shadow($zero, $zero, (($tenPix * 2)-2), rgba($color: $color-black, $alpha: 0.07));    
    &__holder{
        padding: $one-em * 1.25;
        background-color: $color-white;
        align-items: center;       
    }
    &__pic{
        height: $tenPix * 6.4;
        overflow: hidden;
        width: $tenPix * 6.4;
        margin-right: $one-em * 1.25;
        font-weight: $font-weight-light;
        border: $onePix * 3 solid $color-white;
        @include media-breakpoint-between(sm, md) {
            margin-right: $one-em * 0.75;
            height: $tenPix * 5;
            width: $tenPix * 5;
        }
    }
    &__captions{
        font-size: $one-em * 0.875;
        line-height: 1.3;
        span{
            display: block;
            font-size: $one-em;
            color: $color-blue;
            font-weight: $font-weight-semi-bold;
        }
    }
    &__status{
        align-items: center;
        padding-top: $one-em;
        &-indicator{
            background-color: $color-white;
            width: $tenPix * 3;
            height: (($tenPix * 2) - 2);
            margin-right: $tenPix;
            @include borderradius($tenPix*2);
            position: relative;
            &:after{
                background-color: $status-toggle-offline-color;
                content: '';
                right: $onePix * 2;
                top: $onePix * 2;
                position: absolute;
                height: $one-em;
                width: $one-em;
                @include borderradius($one-em);
            }
            &.active{
                &:after{
                    background-color: $tick-active-color;
                    left: $onePix * 2;
                }
            }
        }
        &-text{
            font-weight: $default-font-weight;
            font-size: $default-font-size * 0.75;
        }
    }
    .card-body{
        font-weight: $font-weight-semi-bold;
    }
    .card-title{        
        font-size: $one-em * 1.125;
        color: $color-deep-grey;
        margin-bottom: $one-em * 0.25;
        @include media-breakpoint-down(md) {
            font-size: $one-em * .95;
        }
        @include media-breakpoint-down(sm) {
            font-size: $one-em * .85;
        }
    }
    .card-link{
        font-size: $one-em * 0.85;
        @include media-breakpoint-down(md) {
            font-size: $one-em * .7;
        }
    }   
    &--extra{
     .card-profile{
            &__holder{
            background-color: $color-yellow-dark;
            padding: $one-em * 1.75 $one-em * 1.25;
            &.rounded{
                @include media-breakpoint-down(sm) {
                    @include borderradius($zero !important);
                }
            }
            @include media-breakpoint-between(sm, md) {
                padding: $one-em * 0.85;                
            }
        }
        @include media-breakpoint-between(md, lg) {
            &__holder{
                padding: $one-em;        
            }
            &__pic{
                height: $tenPix * 5;
                width: $tenPix * 5;
                margin-right: $one-em * 0.5;
            }
        }
        &__captions{
            color: $color-black;
            span{
                color: $color-black;
            }
        }
    } 
}
}

.request-status{
    align-items: center;
    @include media-breakpoint-down(md) {
        padding: $one-em $zero $one-em *0.5;
    }
    &__item{
        font-size:$default-font-size * 0.875;
        line-height: 1.3;
        padding: $one-em * 0.75 $one-em * 1.15;
        min-width: $tenPix * 12;
        border-left: $onePix solid rgba($color: $color-white, $alpha: 0.1);
        &:first-child{
                @include media-breakpoint-up(sm) {
                    border-left-width: $zero;
                    padding-left: $zero;
                    min-width: $tenPix * 9;
                }    
                @include media-breakpoint-down(sm) {
                    border-left-width: $zero;
                    padding-left: $zero;
                    min-width: $tenPix * 9;
                }
        }
        @include media-breakpoint-down(md) {
            font-size:$default-font-size * 0.75;
        }
        @include media-breakpoint-down(sm) {
            font-size:$default-font-size * 0.7;
            padding: $zero $one-em * 1.15;
        }
        span{
            display: block;
            font-size:$default-font-size;
            font-weight: $font-weight-semi-bold;
            @include media-breakpoint-down(md) {
                font-size:$default-font-size * 0.875;
            }
            @include media-breakpoint-down(sm) {
                font-size:$default-font-size * 0.75;
            }
        }
    }
}

.card-request{
    background-color: $color-blue;
    @include box-shadow($zero, $zero, (($tenPix * 2)-2), rgba($color: $color-black, $alpha: 0.07)); 
    .card-body{
        padding: $one-em $one-em * 1.25;
        color: $color-white;
        & + .card-body{
            border-top: $onePix solid rgba($color: $color-white, $alpha: 0.1);
            .request-status{
                &__item{
                    &:first-child{
                        @include media-breakpoint-down(md) {
                            padding-top: $one-em * 0.5;
                        }
                    }
                    &:last-child{
                        @include media-breakpoint-down(md) {
                            padding: $one-em * 1.5;
                        }
                    }
                    &--rating{
                        @include media-breakpoint-down(md) {
                            padding: $zero !important;
                        }
                    }
                }
                &__mark-tag{
                    @include media-breakpoint-down(md) {
                          padding-top: $one-em * 0.75;  
                          padding-left: $one-em * 2.8;
                    }
                }
                &__payment{
                    font-size: $default-font-size * 1.37;
                    color: $color-white;
                    font-weight: $default-font-weight;
                    @include media-breakpoint-down(md) {
                        font-size: $default-font-size;
                    }
                    @include media-breakpoint-down(sm) {
                        font-size: $default-font-size;
                    }
                    @include media-breakpoint-down(xs) {
                        font-size: $default-font-size;
                    }
                    strong{
                        color: $color-yellow-dark;
                    }
                }
                &__mark-tag{
                    background: transparent url(../../images/mark-tag.png) no-repeat $zero $zero;
                    color: $color-white;
                    font-weight: $font-weight-semi-bold;
                    padding: $one-em * 0.3;
                    padding-left: $one-em * 2.2;
                    @include media-breakpoint-down(md) {
                        padding-top: $one-em * 0.5;
                        padding-bottom: $one-em * 1.25;
                        padding-left: $one-em * 2.8;
                    }
                }
                &__rate-btn{
                    color: $color-blue;
                    background-color: $color-white;
                    font-size: $default-font-size * .8;
                    margin-top: $one-em * 1.25;
                    font-weight: $font-weight-semi-bold;
                    padding: $one-em * .6 $one-em;
                }
            }
        }
    }
    &__profile{
        padding: $zero;
        align-items: center;
        @include media-breakpoint-up(lg) {
            margin-right: $one-em * 1.15;
            border-right: $onePix solid rgba($color: $color-white, $alpha: 0.1);
        }
    }
    &__profile-pic{
        border: $onePix * 3 solid $color-white;
        height: $tenPix * 6.4;
        overflow: hidden;
        width: $tenPix * 6.4;
        margin-right: $one-em * 1.25;
        font-weight: $font-weight-light;
        @include media-breakpoint-down(xs) {
            height: $tenPix * 5;
            width: $tenPix * 5;
            margin-right: $one-em;
            border: $onePix * 2 solid $color-white;
        }
    }
    &__profile-captions{
        font-size:$default-font-size * 0.875;
        line-height: 1.3;    
        min-width: $tenPix * 18;
        @include media-breakpoint-down(md) {
            font-size:$default-font-size * 0.75;
        }     
        @include media-breakpoint-down(sm) {
            font-size:$default-font-size * 0.7;
        }   
        @include media-breakpoint-down(xxs) {
            //min-width: $tenPix * 14;
        }
        span{
            display: block;
            font-size:$default-font-size;
            font-weight: $font-weight-semi-bold;
            @include media-breakpoint-down(md) {
                font-size:$default-font-size * 0.875;   
            }
            @include media-breakpoint-down(sm) {
                font-size:$default-font-size * 0.75;
            }
        }
    }
    &--extra{
        @include media-breakpoint-down(md) {
            padding-left: $zero;
            padding-right: $zero;
        }
        .card-body{
            @include media-breakpoint-down(md) {
                padding: $one-em * 0.5 $zero;
            }
        }
        .request-status{
            width: $fullsize;
            @include media-breakpoint-down(md) {
                padding: $zero;                
            }
            &__item{
                @include media-breakpoint-up(lg) {
                    &:first-child{                    
                        border-width: $zero;
                        padding-left: 0;
                    }
                     &:last-child{     
                        margin-left: auto;
                     }
                }
                @include media-breakpoint-down(md) {
                    border-bottom: $onePix solid rgba($color: $color-white, $alpha: 0.1);
                    padding: $one-em $one-em* 1.5;
                    &:last-child{
                        border-width: $zero;
                        padding-left: $one-em* 1.5;
                    }
                }
                    justify-content: space-between;
                    min-width: $tenPix * 13;
                    flex-direction: flex-end;
                    .request-button{
                        background-color: $color-white;
                        height: $tenPix * 4.8;
                        overflow: hidden;
                        width: $tenPix * 4.8;
                        @include borderradius($fullsize);
                        position: relative;
                        &:before, &:after{
                            content: '';
                            position: absolute;
                            left: $halfsize;
                            top: $halfsize;                        
                        }
                        &--play{
                            margin-right: $tenPix; 
                            &:before, &:after{
                                height: (($fivePix * 3)-1);
                            }
                            &:before{
                                background-color: $color-dark;                                
                                width: (($fivePix * 3)-1);
                                margin: -7px 0 0 -7px;
                            }
                            &:after{
                                background-color: $color-white;
                                width: ($fivePix - 1);
                                margin: -7px 0 0 -2px;
                            }
                            &.active{                                
                                &:before{
                                    background-color: transparent;       
                                    border: $tenPix solid transparent;
                                    border-left-color: $color-green;
                                    border-left-width: (($fivePix * 3)-1);
                                    margin: -9px 0 0 -6px;
                                }
                                &:after{
                                    display: none;
                                }
                            }
                        }
                        &--stop{
                            &:before{
                                background-color: $color-red;
                                height: (($fivePix * 3)-1);
                                width: (($fivePix * 3)-1);
                                margin: -7px 0 0 -7px;
                            }
                        }
                    }
                    &--extra{
                        margin-left: $zero;
                        border-left: 1px solid rgba($color: $color-white, $alpha: 0.1);
                        padding-left: $one-em * 1.15;
                        @include media-breakpoint-down(md) {
                            padding-bottom: $one-em * 0.25;
                        }
                    }
            } 
            
                            
        }
    }
}

.profile-menu{
    padding-bottom: $one-em * 0.5;
    .list-group{
        @include borderradius($zero);
        &-item{
            background-color: transparent;
            border-left-width: $zero;
            border-right-width: $zero;
            padding: $fivePix $zero;
            border-color: rgba($color: $color-black, $alpha: .05);
            &--active{
                border-top-width: $zero;
                a{
                    background-color: $color-sky-blue;
                    color: $color-blue;
                    &:hover{
                        background-color: $color-sky-blue;
                    }
                }
            }
        }  
        &-link{
            display: block;
            padding: $one-em *0.75 $one-em * 1.25;
            text-decoration: none;
            color: $color-dark-grey;
            font-weight: $font-weight-semi-bold;
            @include borderradius($one-em * 0.25);
            @include media-breakpoint-down(md) {
                font-size:$default-font-size * 0.875;
            }
            @include media-breakpoint-down(sm) {
                font-size:$default-font-size * 0.8;
            }
            &:hover{
                background-color: $color-white;
                color: $color-blue;
            }
            .badge{
                background-color: $color-blue;
                color: $color-white;
                font-weight: $font-weight-light;
                font-size: $one-em * 0.815;
                position: absolute;
                right: $one-em;
                padding: $one-em * 0.25 $one-em * 0.5;
                @include borderradius($one-em);
            }
        }      
    }
}
.card-small{
    background-color: $color-sky-blue;
    border-width: $zero;    
    .card-body{
        padding: $one-em*0.75  $one-em * 1.25;
        color: $color-blue;
        a{
            color: $color-blue;
            text-decoration: none;
            display: block;
        }
    }
}


.search-box{
    &__items{
        flex-wrap: wrap;
    }
    .form-group{
        margin-right: $fivePix;
        width: calc((#{$tenPercent} * 3.3) - (#{$tenPix} * 1.9));
        &:nth-of-type(4){
            width: $tenPix * 4.2;
            @include media-breakpoint-down(md) {
                width: calc((#{$tenPercent} * 5) - (#{$onePix} * 3));
            }
        }
        @include media-breakpoint-down(md) {
            &:nth-of-type(2n){
                margin-right: -$onePix;
            }
        }
        @include media-breakpoint-down(lg) {
            width: calc((#{$tenPercent} * 5) - #{$fivePix});
        }
        @include media-breakpoint-down(xs) {
            width: $fullsize !important;
            margin-right: $zero !important;
        }
    }
    .form-control{
        font-size: $default-font-size * 0.875;     
        &.date-field{
            background: $color-white url(../../images/cal-icon.png) no-repeat calc(#{$fullsize} - (#{$fivePix} * 2)) center;
            background-size: $tenPix + 2;
        }          
    }
    .flex-reverse{
        display: flex;
        flex-direction: row-reverse;
    }
    .search-box__button{
        &--white{
            background: $color-white url(../../images/search-icon.png) no-repeat center $tenPix * 1.2;
            height: $tenPix * 4.2;
            width: $tenPix * 4.2;
            color: $color-blue;
            text-transform: uppercase;
            font-size: $default-font-size * 0.875; 
            line-height: $tenPix * 2.5;
            max-height: $tenPix * 4.2;
            @include media-breakpoint-down(md) {
                width: $fullsize;
                background-image: none;
                font-size:$default-font-size * 0.8;
            }
            @include media-breakpoint-down(xs) {
                line-height: 1;
            }
            &:hover{
                background-position: center calc(100% - 10px);
                background-color: $color-blue;
                color: $color-white;
            }
        }
        &--blue{
            font-size: $default-font-size * 0.875; 
            text-transform: uppercase;  
            height: $tenPix * 4.2;
            max-height: $tenPix * 4.2;
            line-height: $tenPix * 2.5;
            z-index: 9999;
            @include media-breakpoint-down(md) {
                font-size:$default-font-size * 0.7;
            }
            @include media-breakpoint-down(sm) {
                position: fixed;
                bottom: $zero;
                left: $zero;
                width: $fullsize;
                @include borderradius($zero !important);
                font-size:$default-font-size * 0.8;
                height: auto;
                max-height: unset;
                line-height: 1.2;
            }
            &:hover{
                background-color: $color-blue-hover;
                border-color: $color-blue-hover;
                color: $color-white;
            }
        }
    }
}