h2{
    font-size: $default-font-size;
    font-weight: $default-font-weight;
}
p{
    font-size: $default-font-size * 0.875;
    font-weight: $font-weight-light;
}

.text-danger{
  font-size: $default-font-size * 0.8125 !important;
}

.drop-shadow{
    @include box-shadow($zero, $zero, (($tenPix * 2)-2), rgba($color: $color-black, $alpha: 0.05));    
}

.default-container{
    background-color: $color-white;
    padding: $one-em * 3.2;
    @include borderradius($onePix * 3);
}

.card-profile{
    background-color: $card-bg-color;
    border-color: $border-color-grey;
    margin-bottom: $one-em * 1.875;
    &.card{
        @include media-breakpoint-down(sm) {
            border-width: $zero;
        }
    }
    @include box-shadow($zero, $zero, (($tenPix * 2)-2), rgba($color: $color-black, $alpha: 0.07));    
    &__holder{
        padding: $one-em * 1.25;
        background-color: $color-white;
        align-items: center;       
    }
    &__pic{
        height: $tenPix * 6.4;
        overflow: hidden;
        width: $tenPix * 6.4;
        margin-right: $one-em * 1.25;
        font-weight: $font-weight-light;
        border: $onePix * 3 solid $color-white;
        @include media-breakpoint-between(sm, md) {
            margin-right: $one-em * 0.75;
            height: $tenPix * 5;
            width: $tenPix * 5;
        }
    }
    &__captions{
        font-size: $one-em * 0.875;
        line-height: 1.3;
        span{
            display: block;
            font-size: $one-em;
            color: $color-blue;
            font-weight: $font-weight-semi-bold;
        }
    }
    &__status{
        align-items: center;
        padding-top: $one-em;
        &-indicator{
            background-color: $color-white;
            width: $tenPix * 3;
            height: (($tenPix * 2) - 2);
            margin-right: $tenPix;
            @include borderradius($tenPix*2);
            position: relative;
            &:after{
                background-color: $status-toggle-offline-color;
                content: '';
                right: $onePix * 2;
                top: $onePix * 2;
                position: absolute;
                height: $one-em;
                width: $one-em;
                @include borderradius($one-em);
            }
            &.active{
                &:after{
                    background-color: $tick-active-color;
                    left: $onePix * 2;
                }
            }
        }
        &-text{
            font-weight: $default-font-weight;
            font-size: $default-font-size * 0.75;
        }
    }
    .card-body{
        font-weight: $font-weight-semi-bold;
    }
    .card-title{        
        font-size: $one-em * 1.125;
        color: $color-deep-grey;
        margin-bottom: $one-em * 0.25;
        @include media-breakpoint-down(md) {
            font-size: $one-em * .95;
        }
        @include media-breakpoint-down(sm) {
            font-size: $one-em * .85;
        }
    }
    .card-link{
        font-size: $one-em * 0.85;
        @include media-breakpoint-down(md) {
            font-size: $one-em * .7;
        }
    }   
    &--extra{
     .card-profile{
            &__holder{
            background-color: $color-yellow-dark;
            padding: $one-em * 1.75 $one-em * 1.25;
            &.rounded{
                @include media-breakpoint-down(sm) {
                    @include borderradius($zero !important);
                }
            }
            @include media-breakpoint-between(sm, md) {
                padding: $one-em * 0.85;                
            }
        }
        @include media-breakpoint-between(md, lg) {
            &__holder{
                padding: $one-em;        
            }
            &__pic{
                height: $tenPix * 5;
                width: $tenPix * 5;
                margin-right: $one-em * 0.5;
            }
        }
        &__captions{
            color: $color-black;
            span{
                color: $color-black;
            }
        }
    } 
}
}

.request-status{
    align-items: center;
    @include media-breakpoint-down(md) {
        padding: $one-em $zero $one-em *0.5;
    }
    &__item{
        font-size:$default-font-size * 0.875;
        line-height: 1.3;
        padding: $one-em * 0.75 $one-em * 1.15;
        min-width: $tenPix * 12;
        border-left: $onePix solid rgba($color: $color-white, $alpha: 0.1);
        &:first-child{
                @include media-breakpoint-up(sm) {
                    border-left-width: $zero;
                    padding-left: $zero;
                    min-width: $tenPix * 9;
                }    
                @include media-breakpoint-down(sm) {
                    border-left-width: $zero;
                    padding-left: $zero;
                    min-width: $tenPix * 9;
                }
        }
        @include media-breakpoint-down(md) {
            font-size:$default-font-size * 0.75;
        }
        @include media-breakpoint-down(sm) {
            font-size:$default-font-size * 0.7;
            padding: $zero $one-em * 1.15;
        }
        span{
            display: block;
            font-size:$default-font-size;
            font-weight: $font-weight-semi-bold;
            @include media-breakpoint-down(md) {
                font-size:$default-font-size * 0.875;
            }
            @include media-breakpoint-down(sm) {
                font-size:$default-font-size * 0.75;
            }
        }
    }
}

.card-request{
    background-color: $color-blue;
    @include box-shadow($zero, $zero, (($tenPix * 2)-2), rgba($color: $color-black, $alpha: 0.07)); 
    .card-body{
        padding: $one-em $one-em * 1.25;
        color: $color-white;
        & + .card-body{
            border-top: $onePix solid rgba($color: $color-white, $alpha: 0.1);
            .request-status{
                &__item{
                    &:first-child{
                        @include media-breakpoint-down(md) {
                            padding-top: $one-em * 0.5;
                        }
                    }
                    &:last-child{
                        @include media-breakpoint-down(md) {
                            padding: $one-em * 1.5;
                        }
                    }
                    &--rating{
                        @include media-breakpoint-down(md) {
                            padding: $zero !important;
                        }
                    }
                }
                &__mark-tag{
                    @include media-breakpoint-down(md) {
                          padding-top: $one-em * 0.75;  
                          padding-left: $one-em * 2.8;
                    }
                }
                &__payment{
                    font-size: $default-font-size * 1.37;
                    color: $color-white;
                    font-weight: $default-font-weight;
                    @include media-breakpoint-down(md) {
                        font-size: $default-font-size;
                    }
                    @include media-breakpoint-down(sm) {
                        font-size: $default-font-size;
                    }
                    @include media-breakpoint-down(xs) {
                        font-size: $default-font-size;
                    }
                    strong{
                        color: $color-yellow-dark;
                    }
                }
                &__mark-tag{
                    background: transparent url(../../images/mark-tag.png) no-repeat $zero $zero;
                    color: $color-white;
                    font-weight: $font-weight-semi-bold;
                    padding: $one-em * 0.3;
                    padding-left: $one-em * 2.2;
                    @include media-breakpoint-down(md) {
                        padding-top: $one-em * 0.5;
                        padding-bottom: $one-em * 1.25;
                        padding-left: $one-em * 2.8;
                    }
                }
                &__rate-btn{
                    color: $color-blue;
                    background-color: $color-white;
                    font-size: $default-font-size * .8;
                    margin-top: $one-em * 1.25;
                    font-weight: $font-weight-semi-bold;
                    padding: $one-em * .6 $one-em;
                }
            }
        }
    }
    &__profile{
        padding: $zero;
        align-items: center;
        @include media-breakpoint-up(lg) {
            margin-right: $one-em * 1.15;
            border-right: $onePix solid rgba($color: $color-white, $alpha: 0.1);
        }
    }
    &__profile-pic{
        border: $onePix * 3 solid $color-white;
        height: $tenPix * 6.4;
        overflow: hidden;
        width: $tenPix * 6.4;
        margin-right: $one-em * 1.25;
        font-weight: $font-weight-light;
        @include media-breakpoint-down(xs) {
            height: $tenPix * 5;
            width: $tenPix * 5;
            margin-right: $one-em;
            border: $onePix * 2 solid $color-white;
        }
    }
    &__profile-captions{
        font-size:$default-font-size * 0.875;
        line-height: 1.3;    
        min-width: $tenPix * 18;
        @include media-breakpoint-down(md) {
            font-size:$default-font-size * 0.75;
        }     
        @include media-breakpoint-down(sm) {
            font-size:$default-font-size * 0.7;
        }   
        @include media-breakpoint-down(xxs) {
            //min-width: $tenPix * 14;
        }
        span{
            display: block;
            font-size:$default-font-size;
            font-weight: $font-weight-semi-bold;
            @include media-breakpoint-down(md) {
                font-size:$default-font-size * 0.875;   
            }
            @include media-breakpoint-down(sm) {
                font-size:$default-font-size * 0.75;
            }
        }
    }
    &--extra{
        @include media-breakpoint-down(md) {
            padding-left: $zero;
            padding-right: $zero;
        }
        .card-body{
            @include media-breakpoint-down(md) {
                padding: $one-em * 0.5 $zero;
            }
        }
        .request-status{
            width: $fullsize;
            @include media-breakpoint-down(md) {
                padding: $zero;                
            }
            &__item{
                @include media-breakpoint-up(lg) {
                    &:first-child{                    
                        border-width: $zero;
                        padding-left: $zero;
                    }
                     &:last-child{     
                        margin-left: auto;
                     }
                }
                @include media-breakpoint-down(md) {
                    border-bottom: $onePix solid rgba($color: $color-white, $alpha: 0.1);
                    padding: $one-em $one-em* 1.5;
                    &:last-child{
                        border-width: $zero;
                        padding-left: $one-em* 1.5;
                    }
                }
                    justify-content: space-between;
                    min-width: $tenPix * 13;
                    flex-direction: flex-end;
                    .request-button{
                        background-color: $color-white;
                        height: $tenPix * 4.8;
                        overflow: hidden;
                        width: $tenPix * 4.8;
                        @include borderradius($fullsize);
                        position: relative;
                        &:before, &:after{
                            content: '';
                            position: absolute;
                            left: $halfsize;
                            top: $halfsize;                        
                        }
                        &--play{
                            margin-right: $tenPix; 
                            &:before, &:after{
                                height: (($fivePix * 3)-1);
                            }
                            &:before{
                                background-color: $color-dark;                                
                                width: (($fivePix * 3)-1);
                                margin: -7px 0 0 -7px;
                            }
                            &:after{
                                background-color: $color-white;
                                width: ($fivePix - 1);
                                margin: -7px 0 0 -2px;
                            }
                            &.active{                                
                                &:before{
                                    background-color: transparent;       
                                    border: $tenPix solid transparent;
                                    border-left-color: $color-green;
                                    border-left-width: (($fivePix * 3)-1);
                                    margin: -9px 0 0 -6px;
                                }
                                &:after{
                                    display: none;
                                }
                            }
                        }
                        &--stop{
                            &:before{
                                background-color: $color-red;
                                height: (($fivePix * 3)-1);
                                width: (($fivePix * 3)-1);
                                margin: -7px 0 0 -7px;
                            }
                        }
                    }
                    &--extra{
                        margin-left: $zero;
                        border-left: 1px solid rgba($color: $color-white, $alpha: 0.1);
                        padding-left: $one-em * 1.15;
                        @include media-breakpoint-down(md) {
                            padding-bottom: $one-em * 0.25;
                        }
                    }
            } 
            
                            
        }
    }
}

.profile-menu{
    padding-bottom: $one-em * 0.5;
    .list-group{
        @include borderradius($zero);
        &-item{
            background-color: transparent;
            border-left-width: $zero;
            border-right-width: $zero;
            padding: $fivePix $zero;
            border-color: rgba($color: $color-black, $alpha: .05);
            &--active{
                border-top-width: $zero;
                a{
                    background-color: $color-sky-blue;
                    color: $color-blue;
                    &:hover{
                        background-color: $color-sky-blue;
                    }
                }
            }
        }  
        &-link{
            display: block;
            padding: $one-em *0.75 $one-em * 1.25;
            text-decoration: none;
            color: $color-dark-grey;
            font-weight: $font-weight-semi-bold;
            @include borderradius($one-em * 0.25);
            @include media-breakpoint-down(md) {
                font-size:$default-font-size * 0.875;
            }
            @include media-breakpoint-down(sm) {
                font-size:$default-font-size * 0.8;
            }
            &:hover{
                background-color: $color-white;
                color: $color-blue;
            }
            .badge{
                background-color: $color-blue;
                color: $color-white;
                font-weight: $font-weight-light;
                font-size: $one-em * 0.815;
                position: absolute;
                right: $one-em;
                padding: $one-em * 0.25 $one-em * 0.5;
                @include borderradius($one-em);
            }
        }      
    }
}
.card-small{
    background-color: $color-sky-blue;
    border-width: $zero;    
    .card-body{
        padding: $one-em*0.75  $one-em * 1.25;
        color: $color-blue;
        a{
            color: $color-blue;
            text-decoration: none;
            display: block;
        }
    }
}


.search-box{
    &__items{
        flex-wrap: wrap;
    }
    .form-group{
        margin-right: $fivePix;
        width: calc((#{$tenPercent} * 3.3) - (#{$tenPix} * 1.9));
        &:nth-of-type(4){
            width: $tenPix * 4.2;
            @include media-breakpoint-down(md) {
                width: calc((#{$tenPercent} * 5) - (#{$onePix} * 3));
            }
        }
        @include media-breakpoint-down(md) {
            &:nth-of-type(2n){
                margin-right: -$onePix;
            }
        }
        @include media-breakpoint-down(lg) {
            width: calc((#{$tenPercent} * 5) - #{$fivePix});
        }
        @include media-breakpoint-down(xs) {
            width: $fullsize !important;
            margin-right: $zero !important;
        }
    }
    .form-control{
        font-size: $default-font-size * 0.875;     
        &.date-field{
            background: $color-white url(../../images/cal-icon.png) no-repeat calc(#{$fullsize} - (#{$fivePix} * 2)) center;
            background-size: $tenPix + 2;
        }          
    }
    .flex-reverse{
        display: flex;
        flex-direction: row-reverse;
    }

    .search-box__button{
        &--white{
            background: $color-white url(../../images/search-icon.png) no-repeat center $tenPix * 1.2;
            height: $tenPix * 4.2;
            width: $tenPix * 4.2;
            color: $color-blue;
            text-transform: uppercase;
            font-size: $default-font-size * 0.875; 
            line-height: $tenPix * 2.5;
            max-height: $tenPix * 4.2;
            @include media-breakpoint-down(md) {
                width: $fullsize;
                background-image: none;
                font-size:$default-font-size * 0.8;
            }
            @include media-breakpoint-down(xs) {
                line-height: 1;
            }
            &:hover{
                background-position: center calc(100% - 10px);
                background-color: $color-blue;
                color: $color-white;
            }
        }
        &--blue{
            font-size: $default-font-size * 0.875; 
            text-transform: uppercase;  
            height: $tenPix * 4.2;
            max-height: $tenPix * 4.2;
            line-height: $tenPix * 2.5;
            z-index: 9999;
            @include media-breakpoint-down(md) {
                font-size:$default-font-size * 0.7;
            }
            @include media-breakpoint-down(sm) {
                position: fixed;
                bottom: $zero;
                left: $zero;
                width: $fullsize;
                @include borderradius($zero !important);
                font-size:$default-font-size * 0.8;
                height: auto;
                max-height: unset;
                line-height: 1.2;
            }
            &:hover{
                background-color: $color-blue-hover;
                border-color: $color-blue-hover;
                color: $color-white;
            }
        }
        &.add-cash-btn{
            @media (min-width: 767px) and (max-width: 990px) {
                margin-bottom: $one-em * 1.5;
            }
        }
    }
}

.request-container{
    @extend .drop-shadow;
    @include borderradius($onePix * 3);

    background-color:$color-white;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgba($color: $color-dark-grey, $alpha: 0.1);

    @include media-breakpoint-down(lg) {
        display: block;
    }

}
.request-form{
    padding: $one-em * 3.2;
    width: $tenPercent * 5.5;
    @include media-breakpoint-down(lg) {
        padding: $one-em * 2.5;
        width: $fullsize;
    }
    @include media-breakpoint-down(sm) {
        padding: $one-em;
    }
}
.provider-container{
    width: $tenPercent * 4.5;
    border-left: 1px solid rgba($color: $color-dark-grey, $alpha: 0.1);
    @include media-breakpoint-down(lg) {
        width: $fullsize;
        border-width: $zero;
    }
}
.provider-title{
     padding: $one-em * 1.15 $one-em * 1.75;
}

.provider-list{
    overflow: hidden;
    height: 400px;
}

.provider-listing{    
    display: block;
    &__item{
        border-top: 1px solid rgba($color: $color-dark-grey, $alpha: 0.1);    
        display: flex;
        //flex-flow: column wrap; 
        align-content: space-between;
        padding: $one-em;
        padding-left: $one-em * 1.5;
        @include media-breakpoint-down(sm) {
            padding-left: $one-em;
        }
        .card-profile{
            box-shadow: none;
        }
        .card-profile__pic{
            border-width: 2px;
            &:hover{
                border-color: rgba($color: $color-dark, $alpha: 0.2);   
            }
        }
        .card-profile__holder{
            align-items: flex-start;
            font-weight: $font-weight-semi-bold;
            font-size: $default-font-size * 1.05;
            a{
                color: $color-dark;
                @include media-breakpoint-down(sm) {
                    font-size: $one-em * 0.85;
                }
                &:hover{
                    color:$color-blue;  
                }
            }
        }       
        &--scheduler{
            background-color: $profile-bg-color;
            display: block;
            position: relative;
            border-color: $profile-bg-color;
        } 
    }
    &__rate{
        font-size: $default-font-size * 0.8!important;
        color: $default-font-color !important;
        font-weight: $font-weight-light !important;
        em{
            font-size: 1rem!important;
            color:$color-blue;
            padding-right: $one-em* 0.25;
            font-weight: $font-weight-semi-bold;
        }        
    }
    &__profile{
        text-align: left;
        width: $tenPercent*5.5;
        @include media-breakpoint-down(sm) {
            width: $tenPercent*6.5;
        }
    }
    &__scheduler{
        text-align: right; 
        width: $tenPercent*4.5;
        position: relative;
        @include media-breakpoint-down(sm) {
            width: $tenPercent*3.5;
        }
    }
    &__status{
        color: $default-font-color;
        font-size: $default-font-size * 0.8;
        position: relative;
        padding-right: $one-em;        
        &:after{
            content: '';
            height: $onePix * 8;
            width: $onePix * 8;
            background-color: rgba($color: $color-dark, $alpha: 0.2); 
            position: absolute;
            @include borderradius($tenPercent*10);
            top: $onePix * 7;
            right: $zero;
        }
        &--active{
            color: $color-green;
            &:after{
                background-color: $color-green;
            }
        }
    }
    &__schedule-button{
        border:1px solid rgba($color: $color-dark, $alpha: 0.2); 
        font-size: $default-font-size * 0.85;
        position: absolute;
        bottom: $zero;
        right: $zero;
        padding: $one-em* 0.25  $one-em; 
        font-size: $default-font-size* 0.8;
        color: $default-font-color;
        text-align: center;
        @include media-breakpoint-down(sm) {
            font-size: $one-em * 0.75;
            padding: $one-em* 0.25  $one-em * 0.35; 
        }
        &:hover{
            border-color: $color-blue-hover;
            color: $color-blue-hover;
        }
    }
    &__calendar{
        display: flex;
        align-content: space-between;
        .date-field {
            width: $tenPercent * 7;     
            padding-right: $tenPix;             
            input{
                background-image: url(../../images/cal-icon2.png);
                background-repeat: no-repeat;
                background-position: calc(#{$fullsize} - #{$tenPix}) center;
                font-size: $default-font-size * 0.9;
                height: $onePix * 48;
            }
        }
        .button-field{
            width: $tenPercent * 3;
            text-align: right;
            button{            
            font-size: $default-font-size * 0.96;
            height: $onePix * 48;
            line-height: $onePix * 8;
            }
        } 
    }
}
.provider-details{
    @extend .drop-shadow;
    @include borderradius($onePix * 3);

    background-color:$color-white;   
    border: 1px solid rgba($color: $color-dark-grey, $alpha: 0.1);
    padding: $one-em *3.2;
    @include media-breakpoint-down(sm) {
        padding: $one-em;
    }
    &__holder{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: $one-em * 2;
        @include media-breakpoint-up(md) {
            img{
                max-width: 275px;
            }
        }
        @include media-breakpoint-down(md) {           
            width: $fullsize;
            img{
                width: $fullsize;
                max-width: $fullsize;
                margin-right: $zero;
                margin-bottom: $one-em * 1.5;
            }
        }
    }
    &__pic{
        margin-right: $one-em * 1.5;
        margin-bottom: $zero;
    }
    &__description{
        h4{
            padding-bottom: $one-em * 0.75;
        }
    }
    &__profile{
        $containerwidth: calc((#{$fullsize} - 1.5rem) - 280px);
        padding-right: $tenPix * 13;
        width: $containerwidth;
        position: relative;
        @include media-breakpoint-down(md) {           
            width: $fullsize;
        }
        @include media-breakpoint-down(sm) {           
            padding-right: $tenPix * 1$zero;
        }
        .chat-btn-holder{
            position: absolute;
            right: $zero;
            top: $zero;
            text-align: right;
            display: block;
            width: $tenPix * 13;
        }
        .status{
            display: none;
            color: $default-font-color;
            padding-left: $one-em;
            font-size: $default-font-size * 0.8;
            position: relative;
            margin-left: $one-em * 0.8;
            &:after{
                content: '';
                height: $onePix * 6;
                width: $onePix * 6;
                background-color: rgba($color: $color-dark, $alpha: 0.2); 
                position: absolute;
                @include borderradius($tenPercent*10);
                top: $onePix * 7;
                left: $zero;                
            }
            &--active{
                color: $color-green;
                &:after{
                    background-color: $color-green;
                }
            }
            @include media-breakpoint-down(md) {           
                display: inline-block;
                padding-bottom: $one-em;
            }
        }
        .chart-btn{
            background: $color-blue url(../../images/chat-icon.png) no-repeat 10px center;
            color: $color-white;
            border:1px solid $color-blue;
            padding: $one-em * 0.75;
            padding-left: $tenPix * 4;
            font-size: $default-font-size * .81;
            @include media-breakpoint-down(md) {           
                font-size: $default-font-size * .6;
            }
        }
    }
    &__profile-name{
        font-size: $default-font-size * 1.5;
        color: $color-black;
        display: block;
        padding-bottom: $one-em * 0.25;
        @include media-breakpoint-down(sm) {           
            font-size: $default-font-size * 1.15;
        }
    }
    &__rate{
        padding: $one-em * 1.25 $zero;
        display: block;
        em{
            font-size: $default-font-size * 1.4;
            font-weight: $font-weight-semi-bold;
            color: $color-blue;
        }        
    }
    &__rating{
        .status{
            color: $default-font-color;
            padding-left: $one-em;
            font-size: $default-font-size * 0.8;
            position: relative;
            margin-left: $one-em;
            &:after{
                content: '';
                height: $onePix * 6;
                width: $onePix * 6;
                background-color: rgba($color: $color-dark, $alpha: 0.2); 
                position: absolute;
                @include borderradius($tenPercent*10);
                top: $onePix * 5;
                left: $zero;                
            }
            &--active{
                color: $color-green;
                &:after{
                    background-color: $color-green;
                }
            }
        }
    }
    &__contact{
        display: block;
        padding: $one-em * 0.35;
        padding-left: $one-em * 2.5;
        background: url(../../images/phone-icon.png) no-repeat 0 center;
        &--email{
            background-image: url(../../images/message-icon.png);
            a{
                color: $default-font-color;
                &:hover{
                    color: $color-blue;
                }
            }
        }
    }
}

.edit-profile{
    @extend .drop-shadow;
    @extend .default-container;
    @include media-breakpoint-down(md) {
        padding: $one-em;
    }    
    &__form-wrapper{
        display: none;
    }
    &__title{
        font-size: $default-font-size * 1.3;
        padding-bottom: $one-em * 2;
        position: relative;
        @include media-breakpoint-down(md) {
            font-size: $default-font-size;
        }
        &.active{
            span{
                display: none;
            }
        }
    }
    &__edit-btn{
        position: absolute;
        background: transparent url(../../images/edit-icon-sprite.png) no-repeat $zero 4px;
        cursor: pointer;
        right: $zero;
        top: $zero;
        display: block;
        height: $one-em;
        width: $one-em;
        &:hover{
            background-position: $zero -104px;
        }
    }
    .form-control{
        @include media-breakpoint-down(sm) {
            padding: $one-em * 1.65 $one-em;
        }
    }
    .map-container{
        @include media-breakpoint-down(md) {
           min-height: $tenPix * 20;
        }
    }
}

.form-two-col{ 
    .edit-profile__form-wrapper{
        padding-bottom: $one-em * 2;
        @include media-breakpoint-down(sm) {
            padding-bottom: $one-em
        }
    }   
    
    &__item{
        width: $tenPercent * 8;
        @include media-breakpoint-down(md) {
            width: $fullsize;
        }
        .form-group{
            display: flex;
            @include media-breakpoint-down(sm) {
                display: block;
                margin-bottom: $zero;
            }
        }
        label{
            width: $tenPercent * 4.5;
            max-width: $tenPix * 15;
            padding-top: $tenPix + 2;
            padding-right: $tenPix;
            @include media-breakpoint-down(md) {
                max-width: $tenPix * 11.5;
            }
            @include media-breakpoint-down(sm) {
                width: $fullsize;
                max-width:  $fullsize;
            }
        }
        .form-content{
             padding-top: $tenPix + 2;            
        }
        .form-control{
            width: $tenPercent * 5.5;
            @include media-breakpoint-down(sm) {
                width: $fullsize;
            }
        }
        &:last-child{
            width: $fullsize;
            @include media-breakpoint-down(sm) {
                padding: $one-em * 1.5 $zero;
            }
        }
    }
}

.form-one-col, .form-two-col{
    width: $tenPercent * 8;
    @include media-breakpoint-down(md) {
        width: $fullsize;
    }
    .btn{
        width: $tenPix * 12;
        font-size: $default-font-size;
        margin-right: $tenPix;
        display: inline-block;
        @include media-breakpoint-down(sm) {
            padding: $one-em $one-em * 0.5;
            font-size: $default-font-size * 0.8;
            width: calc((#{$tenPercent} * 5) - 7px);

        }
        &--cancel, &--edit{
            background-color: $color-white;
            color: $color-blue;
            margin-right:$zero;
            &:hover{
                background-color: $color-blue-hover;
                border-color:  $color-blue-hover;
                color:$color-white;
            }
        }
        &--edit{
            width: $tenPix * 15;
        }
    }
}

.edit-profile{
    &--mode-save{
        .form-two-col__item{
            border-bottom: 1px solid rgba($color: $color-dark-grey, $alpha: 0.1);    
            width: $fullsize;  
            .form-group{
                display: flex;
            } 
            label{
                width: $tenPercent * 4.5;
                max-width: $tenPix * 15;
                padding-top: $tenPix + 2;
                @include media-breakpoint-down(md) {
                    max-width: $tenPix * 11.5;
                }
                @include media-breakpoint-down(sm) {
                    width: $tenPercent * 4.5;
                    max-width: $tenPix * 15;
                }
            }
            .form-content{
                 padding-top: $tenPix + 2;
                 @include media-breakpoint-down(sm) {
                    width: $tenPercent * 5.5;
                    font-size: $one-em * .85;
                }
                @include media-breakpoint-down(xs) {
                    font-size: $one-em * .75;
                }
            }  
        }
        .form-group{
            margin: $one-em * 0.7 $zero $one-em * 1.1 $zero;
        }
        .form-one-col{
            width: $fullsize;     
            .form-group{
                display: flex;
            }
            label{
                width: $tenPercent * 4.5;
                max-width: $tenPix * 15;
                padding-top: $tenPix + 2;
                @include media-breakpoint-down(md) {
                    max-width: $tenPix * 11.5;
                }
                @include media-breakpoint-down(sm) {
                    width: $tenPercent * 4.5;
                    max-width: $tenPix * 15;
                }
            }
            .form-content{
                 padding-top: $tenPix + 2;
                 @include media-breakpoint-down(sm) {
                    width: $tenPercent * 5.5;
                    font-size: $one-em * .85;
                }
                @include media-breakpoint-down(xs) {
                    font-size: $one-em * .75;
                }
            }
            .job-detail{
                .form-group{
                    border-bottom: 1px solid rgba($color: $color-dark-grey, $alpha: 0.1); 
                    padding-bottom: $one-em * 1.1;  
                    margin-top: $zero;
                }
            }
        }
    }
}

.upload-list{
    display: flex;
    padding-bottom: $one-em*2;
    @include media-breakpoint-down(sm) {
        padding-bottom: $one-em;
    }
    &__item{
        width: calc(#{$tenPercent} * 3.4 - #{$tenPix} );
        margin-right: $fivePix * 3;
        @include media-breakpoint-down(xs) {
            width: calc(#{$tenPercent} * 3.4 - 8px );
            margin-right: 8px;
        }
        &:last-child{
            margin-right: $zero;
        }
        img{
            max-width: $fullsize;
            width: $fullsize;
        }
    }
    &__label{
        font-size: $default-font-size * 0.875;
        display: block;
        text-align: center;
        padding-top: $tenPix;
        @include media-breakpoint-down(xs) {
            line-height: 1.3;
            font-size: $one-em * .65 !important;
        }
    }
    &__tile{
        background-color: $default-bg-color;
        position: relative;
        overflow: hidden;
        width: $fullsize;
        &--profile{
            background: url(../../images/loader.gif) no-repeat center center;
            min-height: $tenPix * 3;
        }
        @include borderradius($fivePix);
    }
    &__button{
       cursor: pointer;
       position: absolute; 
       height: $fullsize;
       width: $fullsize;
       opacity: $zero;
       z-index: 10;
    }
    &__fake-circle{
        width: $tenPercent * 2.4;
        height: $tenPercent * 2.4;
        position: absolute;
        top: $halfsize;
        left: $halfsize;
        border: $onePix solid $color-light-grey2;
        @include translate(-#{$halfsize}, -#{$halfsize});
        @include borderradius($fullsize); 
        z-index: 9; 
        @include media-breakpoint-down(sm) {
            width: $fivePix * 8;
            height: $fivePix * 8;
        }
        @include media-breakpoint-down(xs) {
            width: $fivePix * 6;
            height: $fivePix * 6;
        }
        &:before, &:after{
            content: '';
            border: $onePix solid $color-light-grey2;
            height: $onePix;
            width: calc(#{$fullsize} - #{$tenPix} * 2);
            left: $halfsize;
            top: $halfsize;
            position: absolute;
            @include translate(-#{$halfsize}, -#{$halfsize});
            @include media-breakpoint-down(xs) {
                width: calc(#{$fullsize} - #{$fivePix} * 2);
            }
        }
        &:after{
            height: calc(#{$fullsize} - #{$tenPix} * 2);
            width: $onePix;
            @include media-breakpoint-down(xs) {
                height: calc(#{$fullsize} - #{$fivePix} * 2);
            }
        }
    }
    &__button-group{
        position: absolute;
        bottom: $zero;
        width: $fullsize;
        display: block;
    }
    &__button-edit{
        background-image: url(../../images/edit-icon.png);
        background-position: center 48%;
        background-repeat: no-repeat;
        background-size: calc(#{$halfsize} + #{$fivePercent}) auto;
        position: relative;
        display: block;
        height: $fivePix * 5;
        width: $fivePix * 5;
        @include borderradius($fullsize); 
        text-align: center;
        background-color: rgba($color:$color-blue, $alpha: 0.9);
        margin: $tenPix;
        float: right;
        @include media-breakpoint-down(sm) {
            height: $fivePix * 4;
            width: $fivePix * 4;
        }
    }
    &__button-save{
        background-image: url(../../images/icon-save.png);
        background-position: center 48%;
        background-repeat: no-repeat;
        background-size: calc(#{$halfsize} + #{$fivePercent}) auto;
        position: relative;
        display: block;
        height: $fivePix * 5;
        width: $fivePix * 5;
        @include borderradius($fullsize); 
        text-align: center;
        background-color: rgba($color:$color-green, $alpha: 0.9);
        margin: $tenPix;
        float: left;
        @include media-breakpoint-down(sm) {
            height: $fivePix * 4;
            width: $fivePix * 4;
        }
    }
    & + .form-group{
        margin-bottom: $one-em * 2.5;
    }
}
.location-detail,.job-detail{
    padding-bottom: $one-em*2;  
    @include media-breakpoint-down(sm) {
        padding-bottom: $one-em
    }
}
.form-group{
    &--gps{
        &:after{
            background-position: calc(#{$fullsize} - #{$fivePix}) calc(#{$fullsize} -  4px) !important;   
            height: $tenPix * 2.6 !important;
        }
    }
}

.notifications{
    @extend .drop-shadow;  
    @include borderradius($onePix * 5);
    border: 1px solid rgba($color: $color-dark-grey, $alpha: 0.1);  
    &__item{
        background-color:$color-white;
        border-top: 1px solid rgba($color: $color-dark-grey, $alpha: 0.1);   
        padding: $one-em * 1.25; 
        @include media-breakpoint-down(md) {
            font-size: $default-font-size * 0.9;
        }
        @include media-breakpoint-down(sm) {
            font-size: $default-font-size * 0.8;
        }
        &--title{
            background-color: transparent;
            font-weight: $font-weight-semi-bold;
            @include borderradius($onePix * 5 $onePix * 5 $zero $zero);
            padding: $one-em $one-em * 1.25; 
        }
        &:last-child{
            @include borderradius($zero $zero $onePix * 5 $onePix * 5);
        }
    }
}


.wallet-balance{
    position: absolute;
    top: $zero;
    right: $zero;
    text-align: right;
    font-size: $default-font-size * 0.85;
    line-height: 1.2;
    span{
        display: block;
        color: $color-blue;
        font-weight: 500;
        font-size: $default-font-size;
    }
    @include media-breakpoint-down(md) {
       + .search-box{
           padding-top: $one-em * 1.5;
       }
    }
}


.payment-container{
    @extend .drop-shadow;  
    @extend .default-container;
    @include borderradius($onePix * 5);
    border: 1px solid rgba($color: $color-dark-grey, $alpha: 0.1);  
    @include media-breakpoint-down(sm) {
        padding: $one-em;
    }
}
.payment-list{
    // display: flex;
    // flex-wrap: wrap;
    padding-top: $one-em * 1.5;
    @include media-breakpoint-down(md) {
        display: block;
    }
    &__item{
        width: $fullsize;
        // padding-right: $one-em * 1.35;
        // padding-left: $zero;
        padding-bottom: $one-em;
        @include media-breakpoint-down(md) {
            // padding-right: $zero !important;
            // padding-left: $zero !important;
            width: $fullsize;
        }
        @include media-breakpoint-down(sm) {
            padding-bottom: $zero;
        }
        &:nth-last-of-type(2n){
            // padding-right: $zero;
            // padding-left: $one-em * 1.35;
        }
        .form-group{
            label{
                opacity: 0.8;
            }
        }
        .form-group-cvv{
            width: $tenPix * 12 !important;
            + .form-group{
                width: calc( #{$fullsize} - (#{$tenPix} * 13)) !important;
            }
        }
        .cvv{
            background: transparent url(../../images/cvv.png) no-repeat $zero $fivePix;
            color: #898b8e;
            font-size: $default-font-size * 0.75;
            line-height: 1;
            padding: $one-em * 0.75 $zero $one-em * 0.75 $tenPix * 5;
        }
    }
    &__form-group{
        display: flex;
        flex-wrap: wrap;
        .form-group{
            width: calc((#{$fullsize} - #{$tenPix} * 2) / 3);
            margin-right: $tenPix;
            &:nth-last-of-type(1){
                margin-right: $zero;
            }
        }
    }
    .two-col{
        display: flex;
        flex-wrap: wrap;
        .form-group{
            width: $fullsize/2;
            &:first-of-type{
                padding-right: $fivePix;
                padding-left: $zero;
            }
            &:last-of-type{
                padding-right: $zero;
                padding-left: $fivePix;
            }
            // @include media-breakpoint-down(md) {
            //     &:first-of-type, &:last-of-type{
            //         padding-right: $zero !important;
            //         padding-left: $zero !important;
            //     }
            // }
        }
    }
    .btn{
        margin-top: $one-em * 1.2;
    }
}
.payment-figure{
    padding-top: $one-em * 1.5;
    h4{
        color: $color-blue !important; 
    }   
}
.add-cash{    
    
    max-width: $tenPix * 25;
    display: none;
    @include media-breakpoint-down(md) {
        max-width: $fullsize;
        width: $fullsize;    }
    &-inner{
        display: flex;
    }
    .btn{
        margin-left: $fivePix;
        width: $tenPix * 14;
        white-space: nowrap;
        @include media-breakpoint-down(md) {
            margin-bottom: $one-em * 1.5;
        }
        @include media-breakpoint-down(sm) {
            position: relative;
            height: $tenPix * 10;
            max-height: 42px;
            @include borderradius(3px !important);
            line-height: 1;
        }
    }
}