input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px $color-white inset !important;
    border: $onePix solid $color-white;
}

body{
    color: $color-deep-grey;
}

.drop-shadow{
    @include box-shadow($zero, $zero, (($tenPix * 2)-2), rgba($color: $color-black, $alpha: 0.05));    
}

header{    
    .navbar, .navbar-nav{
        align-items: unset;
        @include media-breakpoint-down(sm) {
            align-items: center;
            justify-content: space-between;
        }
    }
    .navbar-brand{
        a, img{
            @include transition(all 0.5s ease);
        }
        @include media-breakpoint-down(sm) {
            margin-right: auto !important;
        }
    }
    .navbar-nav{
        padding-top: $one-em * 0.9;        
        &:nth-last-of-type(1){
            @include media-breakpoint-down(sm) {
                margin-left: auto !important;
                display: flex;
            }
            li:last-child{
                a{
                    background-color: $color-blue;
                    color: $color-white;
                    padding: $one-em * 0.75 $one-em * 1.5;
                    margin-left: $one-em * 0.75;
                    @include media-breakpoint-down(sm) {
                        padding: $one-em * 0.6 $one-em * 0.95;
                    }
                    @include borderradius($one-em * 0.25);
                    &:hover{
                        background-color: #0069d9;
                    }
                }
            }
        }
    }
    .nav-link{
        padding: $one-em;
        &:hover{
            color: $color-black;
        }
    }
    &.scrolling{
        background-color: rgba($color: $color-white, $alpha: 0.5);
        @include box-shadow($zero, $zero, (($tenPix * 2)-2), rgba($color: $color-black, $alpha: 0.1));  
        .navbar-brand{
            img{
                max-height: $tenPercent * 7;
            }
        }
    }
}

.banner{
    &-header{       
        position: relative;
        z-index: $zero;
        &:after, &:before{
            content: '';
            width: $halfsize;
            height: $fullsize;
            position: absolute;
            overflow: hidden;
            top: $zero;
            right: $zero;
            z-index: $zero;
        }
        &:before{
            background: url(../../img/banner-bg2.jpg) repeat-x center top;
            left: $zero;
        }
        &:after{
            background: url(../../img/banner-bg.jpg) repeat-x center top;            
        }    
        @include media-breakpoint-down(sm) {
            &:before, &:after{
                display: none;
            }
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fbc22a+0,fdd343+100 */
            background: #fbc22a; /* Old browsers */
            background: -moz-linear-gradient(top,  #fbc22a 0%, #fdd343 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  #fbc22a 0%,#fdd343 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  #fbc22a 0%,#fdd343 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbc22a', endColorstr='#fdd343',GradientType=0 ); /* IE6-9 */

        }
    }
    &-main{
        background: url(../../img/banner.jpg) no-repeat center top;        
        padding-top: 134px;
        min-height: 764px;
        width: $fullsize;
        position: relative;
        z-index: 1;
        @include media-breakpoint-down(sm) {
            background: url(../../img/banner-m.jpg) no-repeat center bottom;
            background-size: $tenPercent * 10 auto;
            padding-top: 84px;
            min-height: 500px;
        }
        @include media-breakpoint-down(xs) {
            background-size: $fullsize auto;
            padding-top: 84px;
            min-height: 400px;
        }
    }
    header{
        background-color: transparent;
        box-shadow: none;
        border: none;
    }
    &-form{
        max-width: 412px;
        padding-top: $one-em * 3.5;
        @include media-breakpoint-down(sm) {
            padding-top: $one-em * .5;
            max-width: $fullsize;
        }
        &__title{
            color: $color-grey-black;
            font-size: $default-font-size * 2.65;
            font-weight: $font-weight-light;
            line-height: 1.3;
            @include media-breakpoint-down(sm) {
                font-size: $default-font-size * 1.65;
                text-align: center;
            }
            @include media-breakpoint-down(xs) {
                font-size: $default-font-size * 1.35;
            }
        }
        &__controls-box{
            @include box-shadow($zero, $zero, (($tenPix * 2)-2), rgba($color: $color-black, $alpha: 0.15)); 
            margin: $one-em * 1.5 $zero;
            background-color: $color-white;
            padding: $one-em * 0.5 $zero;
            @include media-breakpoint-down(sm) {
                position: absolute;
                max-width: 420px;
                width: $fullsize;
                left: $halfsize;
            }
            @include media-breakpoint-down(xs) {
                max-width: 320px;
            }
            .form-group{
                margin: $zero;
                position: relative;
                .fake-arrow{
                    position: absolute;
                    height: $fullsize - $fivePercent;
                    width: $one-em * 2.2;
                    background-color: $color-white;
                    right: $tenPix - 2;
                    top: $zero;
                    z-index: 1;
                    pointer-events: none;
                    @include rotate(90deg);
                    &:before, &:after{
                        content: '';
                        height: $onePix * 2;
                        width: $onePix * 8;
                        background-color: rgba($color: $color-dark, $alpha: 1);
                        position: absolute;
                        right: $fivePix * 3;
                        top: calc(#{$halfsize} - 2px);
                        opacity: 0.4;
                        z-index: 5;
                    }   
                    &:before{
                        @include rotate(-45deg);
                        margin: 2px $zero $zero -2px;
                    }
                    &:after{
                        @include rotate(45deg);
                        margin: -3px $zero $zero -2px;
                    } 
                }
                select{
                    padding-right: $one-em * 2.5;
                }
                &:first-of-type{                   
                    padding-bottom: $one-em * 0.25;                    
                }
                &:last-of-type{
                    border-top: $onePix solid $border-color-grey;
                    padding-top: $one-em * 0.25;
                    &:after{
                        content: '';
                        background: $color-white url(../../img/location.gif) no-repeat center center;
                        top: $one-em;
                        right: $one-em;
                        display: block;
                        width: $one-em;
                        height: $one-em * 1.5;
                        position: absolute;
                    }
                     .form-control{  
                        background: $color-white !important;                      
                        padding-right: $one-em * 2.2;                        
                     }
                }
            }
            .form-control{
                background-color: transparent!important;
                border-color: $color-white;
                color: #9d9d9d;
                @include borderradius($zero);                
                &:focus{
                    background-color: $color-white!important;
                    color:$color-dark;
                    box-shadow: none;
                }
            }
        }
        .btn{
            font-size: $default-font-size;
            padding: $one-em * 0.9 $one-em * 1.25;
            margin-top: $one-em * 0.75;            
            .icon{
                background: transparent url(../../images/icon-search.png) no-repeat $zero 4px;
                display: inline-block;
                height: $one-em *1.12;
                width: $one-em * 1.25;                
            }
        }
    }
}

section{
    min-height: 300px;
}

.section{
    &-feature{
        background-color: $color-white;
        padding: $section-padding;
        @include media-breakpoint-down(sm) {
            padding-top: $one-em * 6;
        }
        &__list{
            display: flex;    
            @include media-breakpoint-down(sm) {
                display: block;  
            }
        }
        &__item{
            text-align: center;
            padding: $one-em * 3.5 $one-em * 2 $zero;
            width: 33.33%;
            @include media-breakpoint-down(sm) {
                width: $fullsize;
                padding: $one-em * 2.5 $zero $zero;
            }
        }
        &__title{
            font-size: $default-font-size * 1.25;
            font-weight: $font-weight-bold;
            margin: $one-em * 0.75 $zero $one-em * 0.45;
            @include media-breakpoint-down(sm) {
                font-size: $default-font-size * 1.05;
            }
        }
        &__desc{
            font-size: $default-font-size * 0.93;
            font-weight: $font-weight-light;
            @include media-breakpoint-down(sm) {
                font-size: $default-font-size * .8;
            }
        }
    }
    &-service{
        background-color: #f3f3f3;
        padding: $section-padding;
        @include media-breakpoint-down(sm) {
            padding-top: $one-em * 2.5;
        }
    }
    &-provider{
        background-color: $color-white;
        padding: $section-padding;
        @include media-breakpoint-down(sm) {
            padding: $one-em * 2.5 $zero $zero;
        }
    }
    &-download{
        background-color: #fdbf25;
        padding: $one-em * 0.75 $zero $one-em * 0.75; 
        font-size: $default-font-size * 2.6;
        font-weight: $font-weight-light;
        &__title{           
            font-weight: $font-weight-light;
            line-height: 1.3;
            padding-top: $one-em * 2;
            @include media-breakpoint-down(sm) {
                padding-top: $zero;
                font-size: $default-font-size * 1.65;
                text-align: center;
            }
            @include media-breakpoint-down(sm) {
                font-size: $default-font-size * 1.35;                
            }
        }
        &__desc{
            font-size: $default-font-size * 1.125;
            padding: $one-em * 1.75 $zero;
            line-height: 1.4;
            @include media-breakpoint-down(sm) {
                font-size: $default-font-size;
                text-align: center;
            }
            @include media-breakpoint-down(sm) {
                font-size: $default-font-size * 0.8;
            }
        }
        &__links{
            display: flex;
            @include media-breakpoint-down(sm) {
                max-width: $tenPercent * 8;
                margin-left: $tenPercent;
                padding-bottom: $one-em * .75;
            }
            a{
                margin-right: ($tenPix * 2 ) - 2;
                &:last-child{
                    margin: $zero;
                }
            }
        }
        &__teaser{
            text-align: center;
            width: $fullsize;
        }
    }
    &-testimonial{
        background-color: $color-white;
        padding: $one-em * 6.5 $zero $one-em * 7.5;
        @include media-breakpoint-down(sm) {
            padding: $one-em * 2.5 $zero;
        }
        .section__title{
            font-size: $default-font-size * 2.625;
            font-weight: $font-weight-light;
            padding-bottom: $one-em * 1.6;
            margin: $zero;
            @include media-breakpoint-down(sm) {
                font-size: $default-font-size* 1.65;
                text-align: center;
                line-height: 1.2;
                padding-bottom: $one-em * 0.8;
            }
            @include media-breakpoint-down(xs) {
                font-size: $default-font-size* 1.35;
            }
        }
    }
    &__caption{
        @include media-breakpoint-down(sm) {
            font-size: $default-font-size * 0.9;
        }
    }
    &__title{
        font-size: $default-font-size * 1.8;
        font-weight: $font-weight-bold;
        color: $color-deep-grey;
        margin-bottom: $one-em * 0.75;
        @include media-breakpoint-down(sm) {
            font-size: $default-font-size * 1.25;
        }
    }
}

.teaser-box{
    padding: $one-em * 1.7 $zero $one-em * 1.25;
    &__caption{
        font-size: $default-font-size * 1.25;
        font-weight: $font-weight-bold;
        margin-top: $one-em;
    }
}

.teaser-box2{
    padding: $one-em * 2 $zero $one-em * 2.5;
    display: flex;
    flex-wrap: wrap;
    &__tiles{
        margin-right: $onePercent * 2;
        margin-bottom: $one-em * 1.25;
        //flex: 1 0 22.75%;
        width: 22.75%;
        @include media-breakpoint-down(md) {
         //flex: 1 0 calc( #{$halfsize} - (#{$tenPix} * 2)); 
         width: calc( #{$halfsize} - #{$tenPix});   
         margin-right: $tenPix * 2;
         margin-bottom: $tenPix * 3;
         }
         &:nth-of-type(4n){
             margin-right: $zero;
             @include media-breakpoint-down(md) {
                 margin-right: $zero;
             }
         }
         &:nth-of-type(2n){
            @include media-breakpoint-down(md) {
                margin-right: $zero;
            }
             @include media-breakpoint-down(sm) {
                 margin-right: $zero;
             }
         }
         @include media-breakpoint-down(xs) {
            width: $fullsize;
            margin-right: $zero !important;
         }
        a, figure{
             display: block;
             text-decoration: none;
        } 
    }
    &__pic{
        max-width: auto;
        height: $fullsize;
        margin-bottom: $zero;
        &-wrapper{
            display: block;
            max-width: $fullsize;
            position: relative;
        }
        @include media-breakpoint-down(md) {
            max-width: unset;
            width: $fullsize;
        }
    }   
    &__badge{
        color: #4e4408;
        font-size: $default-font-size * .75;
        display: inline-block;
        line-height: 1;
        position: absolute;
        left: $fivePix;
        top: $fivePix;
        background-color: $color-yellow2;
        padding: $fivePix;
        text-transform: uppercase;
    }
    &__rate{
        font-size: $default-font-size;
        font-weight: $font-weight-bold;
        color: $color-blue;
        display: block;
        padding: $one-em * .85 $zero;
        @include media-breakpoint-down(sm) {
            font-size: $default-font-size * 0.95;
        }
        @include media-breakpoint-down(xs) {
            font-size: $default-font-size * 0.8;
        }
    }
    &__title{
        color: $color-deep-grey;
        display: block; 
        font-weight: $font-weight-semi-bold;
        font-size: $default-font-size * 1.1;
        padding-bottom: $one-em * .5;
        @include media-breakpoint-down(sm) {
            font-size: $default-font-size;
        }
        @include media-breakpoint-down(xs) {
            font-size: $default-font-size * 0.9;
        }
    }
    &__desc{
        display: block;
        font-size: $default-font-size *.875;
        padding-bottom: $one-em * 1.1;
        @include media-breakpoint-down(sm) {
            font-size: $default-font-size * 0.8;
        }
        @include media-breakpoint-down(xs) {
            font-size: $default-font-size * 0.75;
        }
    }
    &__status{
        display: block;
        font-size: $default-font-size *.75;
        padding-left: ($tenPix * 2) - 2;
        position: relative;
        &:after{
            background-color: rgba($color: $color-dark, $alpha: 0.2); 
            content: '';
            left: $zero;
            top: $tenPix - 3;
            width: $tenPix - 2;
            height: $tenPix - 2;
            position: absolute;
            @include borderradius($halfsize);
        }
        &.active{
            &:after{
                background-color: $color-green;
            }
        }
        &.away{
            &:after{
                background-color: $color-yellow-dark;
            }
        }
    }
}

.testimonial-list{ 
    font-size: $default-font-size * 1.125;
    font-weight: $font-weight-light;
    @include media-breakpoint-down(sm) {
        text-align: center;
    }
    &__item{
        min-height: $tenPix * 23.4;
        @include media-breakpoint-down(xs) {
            min-height: $tenPix * 20;
        }
    }
    &__figure{
        max-width: 404px;  
        position: relative; 
        @media (max-width: 992px) and (min-width: 768px){
            margin-right: 18px;
        }
        @include media-breakpoint-down(sm) {
            margin: $zero 18px;
            max-width: $fullsize;
        }
        &:after{
            background: $color-blue url(../../images/quote.png) no-repeat $halfsize $halfsize;
            content: '';
            width: $tenPix * 5.6;
            height: $tenPix * 5.6;
            position: absolute;
            top: $one-em * 0.875;
            right: $zero;
            margin-right: -28px;
            @include borderradius($halfsize);
            @media (max-width: 992px) and (min-width: 768px){
                width: $tenPix * 3.6;
                height: $tenPix * 3.6;
                background-size: $halfsize auto;
                margin-right: -18px;
            }
            @include media-breakpoint-down(sm) {
                width: $tenPix * 3.6;
                height: $tenPix * 3.6;
                background-size: $halfsize auto;
                margin-right: -18px;
            }
        }
    }
    &--figure + .lSAction{
        display: none !important;
    }
    &__desc{
        padding-bottom: $one-em * 2.2;
        line-height: 1.4;
        @include media-breakpoint-down(sm) {
            text-align: center;
            font-size: $default-font-size * 1.1;
            padding-top: $one-em * 0.75;
        }
        @include media-breakpoint-down(xs) {
            text-align: center;
            font-size: $default-font-size * .85;
        }
    }
    &__author{
        font-size: $default-font-size * 1.125;
        font-weight:$font-weight-semi-bold;
        @include media-breakpoint-down(sm) {
            font-size: $default-font-size;
        }
        @include media-breakpoint-down(xs) {
            font-size: $default-font-size * .85;
        }
    }
    &__designation{
        font-size: $default-font-size * .875;
        @include media-breakpoint-down(sm) {
            font-size: $default-font-size * .8;
        }
        @include media-breakpoint-down(xs) {
            font-size: $default-font-size * .75;
        }
    }  
     
}

.lSAction{
    clear: both;
    position: relative;
    text-align: left;
    display: flex;
    @include media-breakpoint-down(sm) {
        justify-content: center;
    }
    > a{
        background-color: #f1f1f1;
        position: relative!important;
        background-image: none!important;
        height: $tenPix * 3.6!important;
        width: $tenPix * 3.6!important;
        overflow: hidden;
        margin-top: $zero!important;
        right: auto!important;
        left: auto!important;
        top: auto!important;
        opacity: 1!important;
        margin-right: $one-em;
        @include borderradius($halfsize);   
        &:before, &:after{
            content: '';
            height: $onePix * 2;
            width: $onePix * 8;
            background-color: rgba($color: $color-dark, $alpha: 1);
            position: absolute;
            left: $halfsize;
            top: $halfsize;
            opacity: 0.5;
            @include translate(-#{$halfsize}, -#{$halfsize});
        }   
        &:before{
            @include rotate(-45deg);
            margin: 2px $zero $zero -2px;
        }
        &:after{
            @include rotate(45deg);
            margin: -3px $zero $zero -2px;
        } 
        &.lSPrev{
            @include rotate(180deg);
        }
        &:hover{
            &:before, &:after{
                opacity: 1;
            }
        }
    }
}

@include media-breakpoint-down(md) {   
    .teaser-box__caption{
        font-size: $default-font-size * .875;
    }
    .btn-view-more{
        margin: $zero;
    }
}