
/* Colors */
$default-font-color: #666;
$default-bg-color: #f8f8f8;
$color-white: #fff;
$color-blue: #17479e;
$color-blue-hover: #295cb9;
$color-light-blue: #5387ed;
$color-bright-blue: #f1f7ff;
$color-gradient-blue: #eef5ff;
$color-fb-blue: #4268b3;
$color-dark: #353535;
$color-light-grey: #efefef;
$color-light-grey2: #e2e2e2;
$tick-active-color: #51cd3b;


/* Typography */
$default-font-size: 1rem;
$default-font-family: 'Roboto', sans-serif;
$default-font-weight: 400;
$font-weight-light: 300;
$font-weight-semi-bold: 500;
$font-weight-bold: 700;
$font-weight-bolder: 900;

/*magic number fix*/
$zero: 0;
$onePix: 1px;
$fivePix: 5px;
$tenPix: 10px;
$onePercent: 1%;
$fivePercent: 5%;
$tenPercent: 10%;
$twentyFivePercent: 25%;
$one-em: 1em;

/*header*/


/*footer*/


/*common*/
$fullsize: 100%;
$halfsize: 50%;

/*plugin*/


/*registration*/
$registration-box-padding: 4em;
$heading-h2-padding: 1em;
$color-google-hover: #6894eb;
$color-fb-hover: #6084cb;